.boxForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form {
  width: 300px;
}

.add-button-custom {
  margin-top: 20px;
}

.form__label {
  display: flex;
  border-bottom: 1 px solid white;
  padding-top: 10 px;
  width: 100%;
  margin-right: 15 px;
}

.form__input-text-custom {
  width: 100%;
  display: inline;
}

.form__input-select {
  width: 100%;
}

.form__label-div {
  margin-top: 15px;
}
.form__label-custom {
  display: inline;
  margin-right: 15px;
}
