.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
}

.navbar__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__nav-logo {
  display: flex;
  height: 80%;
  aspect-ratio: 1;
  font-size: 1rem;
  padding: 5px;
  filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 11px #fff)
    drop-shadow(0 0 40px #f44bfc);
}
.navbar__ul {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 10px;
  list-style-type: none;
}

.navbar__ul-list a,
.navbar__ul-list {
  display: flex;
  padding-right: 10px;
  color: #fef2fe;
  list-style: none;
  text-align: center;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff;
  text-decoration: none;
  cursor: pointer;
}

.navbar__ul-list:hover a {
  text-decoration: underline;
}
.hamburger-react {
  z-index: 3;
}

.navbar__mobile {
  &-menu {
    display: none;
  }
  &-ul {
    position: fixed;
    right: 0;
    top: 0px;
    padding: 30px;
    padding-top: 60px;
    list-style-type: none;
    text-align: right;
    font-size: 1.4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.568);
  }
  &-ul-list a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 0;
  }
}

@media (max-width: 600px) {
  .navbar__mobile-menu {
    display: block;
  }

  .navbar__ul {
    display: none;
  }
}
