.favorites {
  margin-top: 30px;
  font-size: 2.2rem;
  z-index: 3;
  text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 38px #f44bfc, 0 0 73px #f44bfc,
    0 0 80px #f44bfc;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}
