body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #110011;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-color: #110011;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3cpath d='M -812.3138093584685%2c238 C -668.31%2c250.4 -380.31%2c310.4 -92.31380935846845%2c300 C 195.69%2c289.6 339.69%2c176.6 627.6861906415315%2c186 C 915.69%2c195.4 1185.22%2c348.8 1347.6861906415315%2c347 C 1510.15%2c345.2 1421.54%2c211 1440%2c177' stroke='rgba(170%2c 0%2c 199%2c 0.47)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -321.78741998587753%2c418 C -177.79%2c359.4 110.21%2c117 398.21258001412247%2c125 C 686.21%2c133 830.21%2c469.6 1118.2125800141225%2c458 C 1406.21%2c446.4 1773.86%2c92.4 1838.2125800141225%2c67 C 1902.57%2c41.6 1519.64%2c278.2 1440%2c331' stroke='rgba(170%2c 0%2c 199%2c 0.47)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1141.269048328158%2c264 C -997.27%2c273.8 -709.27%2c340.2 -421.26904832815814%2c313 C -133.27%2c285.8 10.73%2c98.6 298.73095167184186%2c128 C 586.73%2c157.4 790.48%2c439.2 1018.7309516718419%2c460 C 1246.98%2c480.8 1355.75%2c277.6 1440%2c232' stroke='rgba(170%2c 0%2c 199%2c 0.47)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -128.53660920090988%2c318 C 15.46%2c305.6 303.46%2c218.8 591.4633907990901%2c256 C 879.46%2c293.2 1023.46%2c504.6 1311.4633907990901%2c504 C 1599.46%2c503.4 2005.76%2c282.6 2031.4633907990901%2c253 C 2057.17%2c223.4 1558.29%2c335.4 1440%2c356' stroke='rgba(170%2c 0%2c 199%2c 0.47)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -765.563469462072%2c265 C -621.56%2c289 -333.56%2c382.2 -45.56346946207203%2c385 C 242.44%2c387.8 386.44%2c275.4 674.436530537928%2c279 C 962.44%2c282.6 1241.32%2c426.8 1394.4365305379279%2c403 C 1547.55%2c379.2 1430.89%2c208.6 1440%2c160' stroke='rgba(170%2c 0%2c 199%2c 0.47)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -372.9218611171624%2c74 C -228.92%2c125.6 59.08%2c327 347.0781388828376%2c332 C 635.08%2c337 779.08%2c72.2 1067.0781388828377%2c99 C 1355.08%2c125.8 1712.49%2c442.6 1787.0781388828377%2c466 C 1861.66%2c489.4 1509.42%2c266 1440%2c216' stroke='rgba(170%2c 0%2c 199%2c 0.47)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -546.2987527824935%2c325 C -402.3%2c293.2 -114.3%2c132.8 173.70124721750653%2c166 C 461.7%2c199.2 605.7%2c494.6 893.7012472175065%2c491 C 1181.7%2c487.4 1504.44%2c175 1613.7012472175065%2c148 C 1722.96%2c121 1474.74%2c314.4 1440%2c356' stroke='rgba(170%2c 0%2c 199%2c 0.47)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1222.3704451979452%2c502 C -1078.37%2c443.2 -790.37%2c224.8 -502.37044519794523%2c208 C -214.37%2c191.2 -70.37%2c433.4 217.62955480205477%2c418 C 505.63%2c402.6 693.16%2c116.8 937.6295548020548%2c131 C 1182.1%2c145.2 1339.53%2c417.4 1440%2c489' stroke='rgba(170%2c 0%2c 199%2c 0.47)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  filter: blur(1.5px);
  transform: scale(1.1);
}

/* width */
::-webkit-scrollbar {
  width: 10px; /*Si es barra vertical*/
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f44bfc;
}
