.gallery {
  display: flex;

  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;

  height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
